{% load static %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row gx-3 h-100">
                    <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{% static 'img/about-1.jpg'%}">
                    </div>
                    <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{% static 'img/about-2.jpg'%}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">О себе</p>
                <h1 class="display-5 mb-4">Мне нравится моя работа</h1>
                <p class="mb-4">Всю свою жизнь занимаюсь конструированием и созданием деталей, узлов и механизмов.
                    Чем сложнее ваш заказ, тем интереснее будет его делать. В 17 лет познакомился с токарным станком. Закончил АТФ БНТУ в 2015 г. В 2019 г. открыл свою фирму.
                    Увлекаюсь мотоциклами и своей работой, за 5 лет коммерческой деятельности выполнил много кастомных, уникальных заказов для байкеров и
                    дизайнеров различной стоимости. Сотрудничаю с крупными государственными и частными фирмами.
                </p>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 bg-primary p-4">
                        <h1 class="display-2">15</h1>
                        <h5 class="text-white">Лет</h5>
                        <h5 class="text-white">Опыта</h5>
                    </div>
                    <div class="ms-4">
                        <p><i class="fa fa-check text-primary me-2"></i>Современное оборудование</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Опытные сотрудники</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Знание материалов</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Работа по договорам</p>
                        <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>Понимание/разработка КД</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">E-mail</p>
                                <h5 class="mb-0">info@example.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">Позвони</p>
                                <h5 class="mb-0">+375 25 620 89 52</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
