{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    {% include 'main/components/carousel.html' %}
    {% include 'main/components/about.html' %}

<!-- Facts Start -->
<!-- Facts End -->

<!-- Features Start -->
<!-- Features End -->

    {% include 'main/components/project_completed.html' %}
    {% include 'main/components/category.html' %}
    {% include 'main/components/equipment.html' %}
    {% include 'main/components/form.html' %}
    {%include 'main/components/testimonial.html' %}


{% endblock %}
